.sidebar-routes {
  display: flex;
  margin-top: 55px;
}

.sidebar-logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.total-sidebar {
  position: fixed;
  height: 100vh;
  /* padding: 0 10px;
    width: 220px; */
  transition: 0.2s ease;
}

.total-sidebar-active {
  padding: 0 10px;
  width: 250px;
}

.total-sidebar-inactive {
  width: 20px;
}

.total-sidebar-collapse {
  width: 10px;
}

.total-routes-sidebar-on {
  padding-left: 270px;
}

.total-routes-sidebar-off {
  padding-left: 40px;
}

.sidebar-toggle-part {
  position: absolute;
  right: -10px;
  top: 50px;
}

.toggle-round {
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.toggle-round:hover {
  background-color: rgb(0, 98, 255) !important;
  color: white !important;
}

.toggle-button-off {
  transform: rotate(180deg);
}

.sidebar-absolute {
  width: 250px;
}

.total-routes {
  transition: 0.2s ease;
  padding-right: 20px;
}
